// the place for general sass variables and such
$green:     rgba(149, 186, 161, 1.0000);
$cream:     rgba(235, 233, 227, 1.0000);
$rust:      rgba(211, 114, 92, 1.0000);
$charcoal:  rgba(55, 61, 61, 1.0000);